In [39]:
import pandas as pd
import numpy as np

In [40]:
def calculate_mean_restorename(dataset,stat_name):
    dataset_mean=dataset.copy()
    dataset_mean = dataset_mean.mean(axis="columns")
    dataset_mean = pd.DataFrame(dataset_mean.values,columns=[stat_name])
    dataset_mean["model"] = dataset["Unnamed: 0"]
    return dataset_mean

In [41]:
t1_cm_mse=pd.read_csv("output/tables/t1_cm_mse.csv")
t1_cm_mse_nonzero=pd.read_csv("output/tables/t1_cm_mse_nonzero.csv")
t1_cm_tadda_1=pd.read_csv("output/tables/t1_cm_tadda_1.csv")
t1_cm_tadda_1_nonzero=pd.read_csv("output/tables/t1_cm_tadda_1_nonzero.csv")
t1_cm_tadda_2=pd.read_csv("output/tables/t1_cm_tadda_2.csv")
t1_cm_tadda_2_nonzero=pd.read_csv("output/tables/t1_cm_tadda_2_nonzero.csv")
t1_cm_tadda_gffo=pd.read_csv("output/tables/t1_cm_tadda_gffo.csv")

In [42]:
t1_cm_mse_mean=calculate_mean_restorename(t1_cm_mse,"t1_cm_mse")
t1_cm_mse_nonzero_mean=calculate_mean_restorename(t1_cm_mse_nonzero,"t1_cm_mse_nonzero")
t1_cm_tadda_1_mean=calculate_mean_restorename(t1_cm_tadda_1,"t1_cm_tadda_1")
t1_cm_tadda_1_nonzero_mean=calculate_mean_restorename(t1_cm_tadda_1_nonzero,"t1_cm_tadda_1_nonzero")
t1_cm_tadda_2_mean=calculate_mean_restorename(t1_cm_tadda_2,"t1_cm_tadda_2")
t1_cm_tadda_2_nonzero_mean=calculate_mean_restorename(t1_cm_tadda_2_nonzero,"t1_cm_tadda_2_nonzero")
t1_cm_tadda_gffo_mean=calculate_mean_restorename(t1_cm_tadda_gffo,"t1_cm_tadda_gffo")

out_t1 = t1_cm_mse_mean.merge(t1_cm_mse_nonzero_mean, on='model', how='left')
out_t1 = out_t1.merge(t1_cm_tadda_1_mean, on='model', how='left')
out_t1 = out_t1.merge(t1_cm_tadda_1_nonzero_mean, on='model', how='left')
out_t1 = out_t1.merge(t1_cm_tadda_2_mean, on='model', how='left')
out_t1 = out_t1.merge(t1_cm_tadda_2_nonzero_mean, on='model', how='left')
out_t1 = out_t1.merge(t1_cm_tadda_gffo_mean, on='model', how='left')
out_t1=out_t1.sort_values(by=['t1_cm_tadda_gffo'])
out_t1 = out_t1[["model","t1_cm_mse","t1_cm_mse_nonzero","t1_cm_tadda_1","t1_cm_tadda_1_nonzero","t1_cm_tadda_2","t1_cm_tadda_2_nonzero","t1_cm_tadda_gffo"]]

C:\Users\email\AppData\Local\Temp/ipykernel_15224/2714810156.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset_mean = dataset_mean.mean(axis="columns")

In [43]:
out_t1

,model,t1_cm_mse,t1_cm_mse_nonzero,t1_cm_tadda_1,t1_cm_tadda_1_nonzero,t1_cm_tadda_2,t1_cm_tadda_2_nonzero,t1_cm_tadda_gffo
7,malone,0.803819,2.570829,0.412817,1.280580,0.431532,1.322471,0.585226
9,no_change_cm,0.803936,2.575749,0.394440,1.264319,0.409403,1.312319,0.640665
6,ettensperger,0.655780,1.686997,0.437171,0.995525,0.549421,1.021092,0.715647
0,attina,0.939663,2.718785,0.519801,1.416938,0.599707,1.456863,0.720898
3,chadefaux,0.840220,2.647271,0.438059,1.306429,0.475822,1.363954,0.724074
5,ensemble,0.695539,1.925083,0.439418,1.064833,0.534551,1.093512,0.730490
12,w_ensemble,0.695370,1.917179,0.440625,1.064053,0.536704,1.092270,0.738373
8,mueller,0.731671,1.895264,0.464329,1.076858,0.581008,1.105414,0.769933
11,randahl_vmm_weighted,0.777879,2.172727,0.519011,1.302309,0.621890,1.345608,0.912412
10,oswald,1.019428,1.993633,0.565439,1.126735,0.771581,1.160066,0.997737
4,dorazio,1.215938,3.637700,0.698168,1.891385,0.797509,1.930412,1.048103
1,baetz,1.799423,4.415688,0.869845,2.230607,1.043810,2.267467,1.184905
2,benchmark,1.877065,4.692170,0.892278,2.343118,1.055161,2.379978,1.199132

In [44]:
out_t1.to_csv("task1.csv")

In [45]:
t2_cm_mse=pd.read_csv("output/tables/t2_cm_mse.csv")
t2_cm_mse_nonzero=pd.read_csv("output/tables/t2_cm_mse_nonzero.csv")
t2_cm_tadda_1=pd.read_csv("output/tables/t2_cm_tadda_1.csv")
t2_cm_tadda_1_nonzero=pd.read_csv("output/tables/t2_cm_tadda_1_nonzero.csv")
t2_cm_tadda_2=pd.read_csv("output/tables/t2_cm_tadda_2.csv")
t2_cm_tadda_2_nonzero=pd.read_csv("output/tables/t2_cm_tadda_2_nonzero.csv")
t2_cm_tadda_gffo=pd.read_csv("output/tables/t2_cm_tadda_gffo.csv")

In [46]:
t2_cm_mse_mean=calculate_mean_restorename(t2_cm_mse,"t2_cm_mse")
t2_cm_mse_nonzero_mean=calculate_mean_restorename(t2_cm_mse_nonzero,"t2_cm_mse_nonzero")
t2_cm_tadda_1_mean=calculate_mean_restorename(t2_cm_tadda_1,"t2_cm_tadda_1")
t2_cm_tadda_1_nonzero_mean=calculate_mean_restorename(t2_cm_tadda_1_nonzero,"t2_cm_tadda_1_nonzero")
t2_cm_tadda_2_mean=calculate_mean_restorename(t2_cm_tadda_2,"t2_cm_tadda_2")
t2_cm_tadda_2_nonzero_mean=calculate_mean_restorename(t2_cm_tadda_2_nonzero,"t2_cm_tadda_2_nonzero")
t2_cm_tadda_gffo_mean=calculate_mean_restorename(t2_cm_tadda_gffo,"t2_cm_tadda_gffo")

C:\Users\email\AppData\Local\Temp/ipykernel_15224/2714810156.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset_mean = dataset_mean.mean(axis="columns")

In [47]:
out_t2 = t2_cm_mse_mean.merge(t2_cm_mse_nonzero_mean, on='model', how='left')
out_t2 = out_t2.merge(t2_cm_tadda_1_mean, on='model', how='left')
out_t2 = out_t2.merge(t2_cm_tadda_1_nonzero_mean, on='model', how='left')
out_t2 = out_t2.merge(t2_cm_tadda_2_mean, on='model', how='left')
out_t2 = out_t2.merge(t2_cm_tadda_2_nonzero_mean, on='model', how='left')
out_t2 = out_t2.merge(t2_cm_tadda_gffo_mean, on='model', how='left')
out_t2=out_t2.sort_values(by=['t2_cm_tadda_gffo'])
out_t2 = out_t2[["model","t2_cm_mse","t2_cm_mse_nonzero","t2_cm_tadda_1","t2_cm_tadda_1_nonzero","t2_cm_tadda_2","t2_cm_tadda_2_nonzero","t2_cm_tadda_gffo"]]

In [48]:
out_t2

,model,t2_cm_mse,t2_cm_mse_nonzero,t2_cm_tadda_1,t2_cm_tadda_1_nonzero,t2_cm_tadda_2,t2_cm_tadda_2_nonzero,t2_cm_tadda_gffo
3,chadefaux,0.776683,2.747417,0.385583,1.315078,0.406158,1.352372,0.516471
8,mueller,0.556835,1.814741,0.407258,1.199973,0.471407,1.233812,0.551946
7,malone,0.813659,2.900014,0.399753,1.385897,0.417864,1.435510,0.556438
9,no_change_cm,0.799980,2.856557,0.374133,1.336228,0.387351,1.383450,0.580242
5,ensemble,0.558947,1.927586,0.385200,1.180059,0.430384,1.211281,0.601311
0,attina,0.682092,2.128293,0.460055,1.351596,0.542030,1.391095,0.611179
11,randahl_vmm_weighted,0.630809,2.102748,0.418892,1.269969,0.474956,1.308960,0.645215
6,ettensperger,0.578518,1.828728,0.432264,1.202909,0.514289,1.236779,0.647707
4,dorazio,0.866937,2.751397,0.498579,1.524550,0.569812,1.571173,0.659246
1,baetz,0.824567,2.920722,0.431179,1.421312,0.465288,1.472365,0.683656
2,benchmark,0.746895,2.192719,0.522214,1.377871,0.647391,1.416906,0.816425
10,oswald,0.753724,2.203006,0.549680,1.434151,0.690576,1.474886,0.877765

In [49]:
out_t2.to_csv("task2.csv")